<!--
This template loads for the 'tab.friend-detail' state (app.js)
'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
The FriendsCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
-->
<ion-view view-title="Confirmar Seleção">
  <ion-content class="padding">

    <form ng-submit="confirmSelection(selection)">
      <ion-list>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Nome</span>
          <input type="text" ng-model="selection.name">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Data</span>
          <input type="date" ng-model="selection.date" value="2015-01-01">
        </label>
        <br>
        <input type="submit" value="Salvar" class="button button-stable">
      </ion-list>
    </form>

  </ion-content>
</ion-view>
