<ion-view view-title="Músicas | Selecionadas: {{selected.length}}">
  <ion-content>
  
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input ng-model="query" type="search" placeholder="Search">
      </label>
      <button class="button button-clear button-stable icon ion-close" ng-click="query = null">
      </button>
    </div>

    <div class="bar bar-header item-input-inset bar-stable" ng-click="musicForm(null)">
      <i class="icon ion-plus-circled"></i>&nbsp; Nova Música
    </div>

    <ion-list>
      <div ng-repeat="music in musics | filter: query">
        <ion-item class="item-light"
            ng-click="toggleSelection(music)"
            ng-class="{active: isSelectionShown(music)}">
            <i class="icon" ng-class="isSelectionShown(music) ? 'ion-minus' : 'ion-plus'"></i>
          {{music.name}}
        </ion-item>
        
        <ion-item ng-show="isSelectionShown(music)">
          <p  class="item-accordion">
            Tocada pela última vez em: {{music.lastPlayed | date: "dd/MM/yyyy"}}
          </p>
          <p class="item-accordion tag-list">
            <span class="button button-light button-small tag" ng-repeat="tag in music.tags">{{tag}}</span>
          </p>
        </ion-item>

        <ion-item ng-show="isSelectionShown(music)" class="item-accordion" ng-click="musicForm(music)">
          <i class="icon ion-gear-b"></i>&nbsp; Editar {{music.name}}
        </ion-item>
      </div>

    </ion-list>
  </ion-content>
</ion-view>