<ion-view view-title="Músicas | Selecionadas: {{selected.length}}">
  <ion-content>
  
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input ng-model="query" type="search" placeholder="Search">
      </label>
      <button class="button button-clear button-stable icon ion-close" ng-click="query = null">
      </button>
    </div>

    <div class="bar bar-header item-input-inset bar-energized" ng-click="musicForm(null)">
      Nova Música
    </div>

    <ion-list>
      <div collection-repeat="music in musics | filter: query"
        collection-item-width="'100%'"
        collection-item-height="130" class="music">
        <ion-item class="item-remove-animate item-icon-right padding"
          ng-class="{'active': isSelected(music)}" 
          on-hold="showOpts(music)">
          
          <h2>{{music.name}}</h2>
          <p>Artista: {{music.artist}}</p>
          <p>Tocada pela última vez em: {{music.lastPlayed | date:'dd/MM/yyyy'}}</p>

          <i ng-if="isSelected(music)" class="icon ion-checkmark"></i>

          <div class="tag-list">
            <a class="button button-small button-stable tag col-33" ng-repeat="tag in music.tags">
              {{tag}}
            </a>
          </div>

        </ion-item>
      </div>

    </ion-list>
  </ion-content>
</ion-view>