<ion-view view-title="Selecionadas">
  <ion-content>
    <div ng-class="{'display-none': selected.length == 0 }">

      <form ng-submit="confirmSelection(selection)">
        <ion-list>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Nome</span>
            <input type="text" ng-model="selection.name">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Data</span>
            <input type="date" ng-model="selection.date" value="2015-01-01">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Músicas</span>
            <ul class="list">
              <li ng-repeat="music in selected" class="item item-icon-left">
                <button type='button' class="button button-clear button-assertive icon ion-close-circled" ng-click="unselect(music)"></button>
                {{music.name}}
              </a>
            </ul>
          </label>
          <br>

          <div class="row">
            <button class="button icon-right button-stable ion-checkmark col-50">Confirmar Seleção</button>
            <button class="button icon-right button-stable ion-close col-50" ng-click="clearSelected()">Limpar Seleção</button>
          </div>

        </ion-list>
      </form>
    </div>

    <div class="row" ng-class="{'display-none': selected.length > 0 }">
      <h2>Nenhuma música selecionada</h2>
    </div>
  </ion-content>
</ion-view>
