/* Empty. Add your own CSS if you like */

.tag-list .scroll > :first-child { margin-left: 0 !important; }

.tag-list {
  margin-top: 1em;
}

.tag {
  margin-left: 1em;
}

.wide-as-needed {
  overflow-x: scroll;
  white-space: nowrap;
}
.scroll { 
  min-width: 100%;
}

.selected-list {
  margin-bottom: 1em;
}

.display-none {
  display: none;
}