/* Empty. Add your own CSS if you like */

.tag-list > :first-child { margin-left: 0 !important; }

.tag-list {
  margin-top: 1em;
  min-width: 100%;
}

.tag {
  margin-left: 1em;
}

.selected-list {
  margin-bottom: 1em;
}

.display-none {
  display: none;
}

.list .music {
  left: 0;
  right: 0;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}